{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center">
      <img src="{% static 'images/profile_pic.jpg' %}" alt="Some sexy guy smiling" class="profile-image"><br>
      <tt>
        My name is Shubham Singh and I have got 34 hours in a day. I am a graduate from NIT Jalandhar in Computer Science and Engineering.<br>
        Nothing much to say about me, just drop your thoughts at this email: shubham190shubham@gmail.com
      </tt>
    </div>
  </div>
{% endblock %}
