{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shubham Singh's Blog</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Amatic SC' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Shojumaru' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Bentham' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Carter One' rel='stylesheet'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <div class="container">

    <div class="row page-header">
      <div class="col-2 my-auto">
        <div class="dropdown">
          <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-navicon" style="color: #ffffff; font-size: 36px;"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/">Home</a>
            <a class="dropdown-item" href="{% url 'archive_list' %}">Archive</a>
            <a class="dropdown-item" href="{% url 'about' %}">About Me</a>
            {% if user.is_authenticated %}
              <a href="{% url 'post_new' %}" class="dropdown-item">New Post</span></a>
              <a href="{% url 'post_draft_list' %}" class="dropdown-item">Drafts</span></a>
              <a href="{% url 'logout' %}" class="dropdown-item">Log out</a>
            {% else %}
                  <a href="{% url 'login' %}" class="dropdown-item">Login</span></a>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-8 title" align="center">
        <h1><a href="/">Shubham Singh's Blog</a></h1>
      </div>
    </div>

    <div class="row">
        <div class="col">
          {% block content %}
          {% endblock %}
        </div>
    </div>


    <div class="footer">
      <div class="row justify-content-center">
        <div class="col-1 col-offset-1">
          <a href="https://wwww.facebook.com/profile.php?id=100003815143515" target="_blank">
          <i class="fa fa-facebook-official icon"></i></a>
        </div>
        <div class="col-1">
          <a href="https://github.com/shubham-kira" target="_blank">
          <i class="fa fa-github icon"></i></a>
        </div>
        <div class="col-1">
          <a href="https://www.instagram.com/shubham.singh.17/" target="_blank">
          <i class="fa fa-instagram icon"></i></a>
        </div>
        <div class="col-1">
          <a href="https://www.linkedin.com/in/shubham-singh-a90a68152" target="_blank">
          <i class="fa fa-linkedin icon"></i></a>
        </div>
        <div class="col-1">
          <a href="https://twitter.com/iamssingh15" target="_blank">
          <i class="fa fa-twitter icon"></i></a>
        </div>
      </div>
    </div>

  </div>
</body>
</html>
