{% extends 'blog/base.html' %}

{% block content %}

<br>
<h2 style="font-family: Shojumaru;">Latest Posts</h2>
<br>
<div class="card-deck">
  {% for post in posts %}
    <div class="card">
      <div class="box card-body">
        <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="box-title"><h4><strong>{{ post.title }}</strong></h4></div>
      </a>
      </div>
    </div>
  {% endfor %}
</div>

<br>
<h2 style="font-family: Shojumaru;">Most Liked</h2>
<br>
<div class="card-deck">
  {% for post in liked_posts %}
    <div class="card">
      <div class="box card-body">
        <a href="{% url 'post_detail' pk=post.pk %}">
        <div class="box-title"><h4><strong>{{ post.title }}</strong></h4></div>
      </a>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}
