body {
  background: #f5f5f0;
  padding-bottom: 2.5rem;
}

div {
  word-wrap: break-word;
}

.page-header {
  background-color: #000000;
  font-family: 'lobster';
  color: #ffffff;
  font-family: 'Sofia', cursive;
}

.title a {
  color: #ffffff;
  text-decoration: none;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.footer {
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.box {
  border: 5px #ffffff;
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.box a:hover {
  text-decoration: underline #00ff00;
}

.box-title {
  color: #ffffff;
  font-family: 'Amatic SC';
  text-align: center;
  vertical-align: middle;
}

.box:hover {
  opacity: 0.7;
}

.icon:hover {
  color: #00ff00;
}

.post-title {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Amatic SC';
  text-decoration: underline;
  text-decoration-color: #00ff00;
}

.post-title:hover {

}

.post-content {
  font-family: 'Bentham';
  font-size: 24px;
  line-height: 200%;
}

.blog-button {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Bentham';
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}

.blog-button a {
  color: #ffffff;
  text-decoration: none;
}

.blog-button:hover {
  opacity: 0.7;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
